.postblock {
    border: 5px black;
    border-style: dotted;
    width: 500px;
}

.postimages {
    height: 200px;
    width: 200px;
}

.replyblock {
    border: 2px black;
    border-style: dotted;
    width: 300px;
}

.profilepicture {
    height: 100px;
    width: 100px;
}