.error {
    /* flash message */
    background-color: rgb(248, 179, 197);
    max-width: 400px;
    border-radius: 1px;
}

.body {
    font-family: 'Work Sans', sans-serif;
    /* background-color: rgb(red, green, blue); */
}

h1, h2, h3, h4, h5 {
    font-family: 'Patrick Hand', cursive;
    /* font-family: 'Short Stack', cursive; */

}


.user-url:link {
    font-family: 'Patrick Hand', cursive;
    font-size: large;
    color: rgb(7, 9, 28);
    text-decoration: none;
}

.user-url:link:hover {
    color: rgb(247, 214, 222);
}

.user-url:visited {
    font-family: 'Patrick Hand', cursive;
    font-size: large;
    color: rgb(7, 9, 28);
    text-decoration: none;
}

.user-url:visited:hover{
    color: rgb(247, 214, 222);
}
.search-user-url {
    font-family: 'Patrick Hand', cursive;
    font-size: large;
    color: white;
    text-decoration: none;
}

.search-user-url:hover {
    /* border-radius: 5px;
    background-color: rgb(185 186, 248);  */
    color: rgb(185 186, 248);
}

.login-box {
    /* log in modal */
    background-color: rgb(248 179, 197);
    color: rgb(62, 66, 118);
    /* border: 2px solid rgb(247, 214, 222); */
    max-width: 600px;
    padding-right: 48px;
    padding-left: 48px;
}

.bunbook-welcome{
    padding-bottom: 5%;
}
.centered-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;

}
/* modals */
.modal-content {
    background-color: rgb(185, 186, 248);
    border-radius: 10px !important;
}

.modal-body {
    background-color: rgb(185, 186, 248);
    /* 0 (Top left) 0 (Top right) 10px (bottom right) 10px (Bottom left) */
    border-radius: 0 0 10px 10px;
}
.modal-header {
    background-color: rgb(185, 186, 248);
    border-bottom: 0px;
}
.modal-title {
    justify-content: center;
}

.edit-profile-btn {
    border-color: rgb(185, 186, 248);
    background-color: rgb(247, 214, 222);
    color: white;
    width: 25%;
}
.btn-bunbook {
    /* modal buttons */
    /* periwinkle: 185, 186, 248 */
    /* border-color: rgb(185, 186, 248); */
    background-color: rgb(185, 186, 248);
    color: white;
    width: 100%;
}

.btn-bunbook:hover {
    /* button on hover */
    border-color: rgb(185, 186, 248);
    background-color: rgb(159, 195, 250);
}

.btn-close {
    /* close button on modals */
    margin-right: 2px;
}

.post-btn {
    font-family: 'Patrick Hand', cursive;
    border-radius: 5px;
    background-color: rgb(159, 195, 250);
    float: right;
}

.post-btn:hover {
    background-color: rgb(248, 179, 197);
}
.user-pic {
    /* user's profile pic thumbnail on post */
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 25px;
    width: 50px;
    height: 50px;
}

.notif-user-pic {
    /* user's pics for notification's page */
    border-radius: 25px;
    width: 50px;
    height: 50px;
}

.postbody {
margin-left: 2%;
margin-bottom: 5%;
}
.postimages {
    /* images for posts */
    border: 2px solid rgb(159, 195, 250);
    margin: 10px;
    height: 400px;
    width: 400px;
}

.post-reacts {
    margin-left: 2%;
}
.replyarea{
    width: 50%;
    margin-left: 2%;
}

.replyblock {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 25px;
    
    width: 100%;
}

/* Hide text in the sidebar on screens smaller than 576px */
@media (max-width: 992px) {
    .sidebar-text {
        display: none;
    }
}
.sidebar {
    background-color: rgb(7, 9, 28);
}

.bunbook-icon {
    width: 10%;
    height: 10%;
}

/* .bunbook-logo {
    position: fixed;
    top: 5px;

} */

.bunbook-mascot {
    position: fixed;
    left: 2%;
    bottom: 5%;
    width: 10%;
}
.search-bar {
   margin-top: 10px;
}

/* Remove default list styling */
.results-list {
    /* border: 1px solid rgb(159, 195, 250); */
    /* color: rgb(246, 240, 220); */
    /* background-color: rgb(185, 186, 248); */
    list-style-type: none;
    padding: 0;
    margin: 0;
}


/* sidebar's list items */
.list-group-item {
    max-width: 200px;
    background-color: rgb(7, 9, 28);
    color: white;
    font-size: large;    
}

.list-group-item:hover{
    background-color: rgb(185, 186, 248)
}
.sidebar-text {
    font-size: 1.5em;
    font-family: 'Patrick Hand', cursive;
}

.welcome-msg {
    margin-left: 25px;
    color: rgb(246, 240, 220);
}
.create-post-container {
    /* width: 200;
    height: 500; */
    background-color: rgb(185, 186, 248);
    padding-bottom: 15px;
}

.create-post-box {
  /* initialize flexbox */
  display: flex;

  /* properties to arrange child elements */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.createpostform{
    width: 50% !important;
}

#createpost > textarea {
    width: 100%;
}
.postblock {
    border: 1px solid rgb(185, 186, 248);
    width: 50%;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.postblock-header {
    /* line up user post, name and view post button */
    position: relative;
}

.likebtn {
    border: none;
    background: transparent;
    color: rgb(7, 9, 28);
}

.likebtn:hover {
    color: rgb(248, 179, 197);
}


.btn-viewpost {
    /* view post button */
    color: rgb(185, 186, 248);;
    position: absolute; 
    top: 0;
    right: 0;
    margin-top: 5px;
    margin-right: 10px;
}


.timeline-box {
  display: flex;
 
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}


.profile-tabs {
    background-color: rgb(185, 186, 248);
    justify-content: space-evenly;
    font-size: x-large;
    margin-bottom: 10px;
}

.nav-link {
    color: white;
}

.notification {
    border-bottom: 1px solid rgb(185, 186, 248);
    margin-bottom: 1%;
    margin-left: 1%;
    padding-bottom: 1%;
}