{% extends 'feedprofilebase.html' %}

{% block title %}Bunbook Home{% endblock %}

{% block content %}

Welcome {{ session["screenname"] }}
<br>
----Create a Post----
<form id="createpost" action="/create-post" method="post" enctype="multipart/form-data">
  <input type="text" placeholder="Create A Post!" name="post">
  <input type="file" name="my-file">
  <input type="submit">
</form>

<br>


<br>
<!-- ---- Image form *uploads image to album*----  -->
<!-- Form for cloudinary images -->
<!-- <form action="/post-form-data" method="post" enctype="multipart/form-data">
  <input type="file" name="my-file">
  <input type="submit">
</form>
<br> -->

--- The Timeline/Feed --- 
<br>
{% for post in posts %}
<div class="postblock">
  {{ post.user.screenname }}
  {{ post.body }}
  {{ post.timestamp }}
  {{ post.post_id }}

  {% if post.images %}
  <img src="{{ post.images[0].image_link }}">
  {% endif %}

  <form class="createreply" action="/create-reply" method="post">
    <input type="hidden" id="postid" name="post_id" value="{{ post.post_id }}">
    <input type="text" placeholder="Reply!" name="reply">
    <input type="submit">
  </form>

  <!-- From Post model: (table name = posts) reply -->
  <!--- From Reply model: (table name = replies)reply_post -->
  <div class="replyblock" id="{{ post.post_id }}">
    {% if post.reply %}
    {% for reply in post.reply %}
    <!-- need screen name from DB for user reply (author) -->
    {{ reply.reply_user.screenname }}
    {{ reply.reply_id }}
    {{ reply.body }}
    {{ post.timestamp }}
    {% endfor %}
    {% endif %}
  </div>

</div>
{% endfor %}

{% endblock %}