{% extends 'feedprofilebase.html' %}

{% block title %}Bunbook Home{% endblock %}

{% block content %}

Welcome {{ session["screenname"] }}
<br>
<!-- Create a Post form -->
----Create a Post----
<form id="createpost" action="/create-post" method="post" enctype="multipart/form-data">
  <input type="text" placeholder="Create A Post!" name="post">
  <input type="file" name="my-file">
  <input type="submit">
</form>

<br>

<!-- The Timeline/Feed  -->
--- The Timeline/Feed --- 

<br>

{% for post in posts %}
<div class="postblock">
  username: {{ post.user.screenname }}
  <br>
  body: {{ post.body }}
  <br>
  time: {{ post.timestamp }}
  Post_id: {{ post.post_id }}
  <br>
  <!-- post.like will give a list, we want length of list -->
  Likes: {{ calculatelikes(post.like) }}
  
<!-- Show a post's images if any -->
  {% if post.images %}
  <img src="{{ post.images[0].image_link }}">
  {% endif %}

  <!-- Like a post form -->
  <form class="likeapost" action="/like-post" method="post">
    <input type="hidden" id="likepostid" name="likepostid" value="{{ post.post_id }}">
    <button type="submit" name="likebutton">Like</button>
  </form>

  <!-- Create a Reply form -->
  <form class="createreply" action="/create-reply" method="post">
    <input type="hidden" id="postid" name="post_id" value="{{ post.post_id }}">
    <input type="text" placeholder="Reply!" name="reply">
    <input type="submit">
  </form>

  <!-- Show replies to post if any -->
  <div class="replyblock" id="{{ post.post_id }}">
    {% if post.reply %}
    {% for reply in post.reply %}
    username: {{ reply.reply_user.screenname }}
    <br>
    body: {{ reply.body }}
    <br>
    time: {{ reply.timestamp }}
    reply_id {{ reply.reply_id }}
    {% endfor %}
    {% endif %}
  </div>

</div>
{% endfor %}

{% endblock %}