{% extends 'feedprofilebase.html' %} 
{% block title %}Bunbook Artist Credits!{% endblock %}
{% block content %}
<body style="background-image: url('../static/images/Bunbook-background.png');">
<div class="artistbox">
    <div class="mochi">
        <h1><img src="../static/images/Bun-icon-03.png"> Meet the Artist!</h1>
        <h5>Thanks my great 10/10 friend Monica for helping create
            <br>
            the beautiful logos, mascot and background for Bunbook! <i class="fa-solid fa-trademark"></i>
            <br>
            You can view her work <a class="user-url" href="https://www.linkedin.com/in/monicatn-design">here</a>!
        </h5>
        <img class="mochipic rounded" src="../static/images/mochi.jpg">
    </div>
    <div class="mellody">
        <h1><img src="../static/images/Bun-icon-03.png">Meet the Developer!</h1>
        <h5>My name is Mellody and I love bunnies (surprise).
            <br>
            Jokes aside, making Bunbook <i class="fa-solid fa-trademark"></i> was a lot of work but so fun.
            <br>
            As someone who's has used Twitter, Tumblr, Instagram and Threads 
            <br>
            it was so awesome to see all the work that goes into building
            a social media app. 
            <br>
            I definitely look forward to building on this project and eventually even deploying it. 
            <br>
            I hope you enjoyed my little easter egg and Bunbook!!
            <br>
            You can find me on LinkedIn <a class="user-url" href="https://www.linkedin.com/in/mellody-nguyen/">Here</a>.
        </h5>
        <img class="mochipic rounded" src="../static/images/MEEE.jpg">
    </div>
</div>
<img src="../static/images/BunKnife.png">
{% endblock %}