{% extends 'feedprofilebase.html' %}

{% block title %}Bunbook Notifications{% endblock %}

{% block content %}

Notifications:
<br>
{% for notification in notifications %}
    {% if notification.type_of_thing == "reply" %}
        <a href="/user/{{ notification.user_id }}">{{ notification.user.screenname }}</a> 
        replied to your <a href="/post/{{ notification.post_id }}"post>post</a> 
        <br>
    
    {% elif notification.type_of_thing == "like" %}
        <a href="/user/{{ notification.user_id }}">{{ notification.user.screenname }} </a>
            liked your <a href="/post/{{ notification.post_id }}"post>post</a> 
        <br>
    {% endif %}
{% endfor %}

{% endblock %}