{% extends 'feedprofilebase.html' %}


{% block title %}Bunbook {{ post.user.screenname }} Post: {{post_id}}{% endblock %}

{% block content %}
<div class="create-post-container">
    <div class="welcome-msg"><h1>{{ post.user.screenname }}'s Post</h1></div>
</div>
<div class="specific-post-box">
    <div class="postblock rounded">
        <div class="postblock-header">
            <img class="user-pic" src="{{ post.user.profilepic }}" />
            <a class="user-url" href="/user/{{ post.user.user_id }}" 
            title="{{ post.user.screenname }}'s Profile"> {{ post.user.screenname }}</a>
        </div> 
    <div class="postbody">
        {{ post.body }}
        {% if post.images %}
        <br>
        <img class="postimages" src="{{ post.images[0].image_link }}">
        <br>
        {% endif %}
    </div>
    <div class="post-reacts">
    timestamp: {{ post.timestamp }}
    <br>
    <h5 id="likecounter{{ post.post_id }}">Likes: {{ calculatelikes(post.like) }}</h5>
    <form class="likeapost" method="post" data-postid="{{ post.post_id }}">
        <input type="hidden" id="likepostid" name="likepostid" value="{{ post.post_id }}">
        <button class="likebtn" type="submit" name="likebutton">
            <i class="fa-regular fa-heart"></i>
        </button>
    </form>
    <form class="createreply" action="/create-reply" method="post">
        <input type="hidden" id="postid" name="post_id" value="{{ post.post_id }}">
        <textarea class="replyarea rounded" placeholder="Reply!" name="reply"></textarea>
        <button class="likebtn" type="submit"><i class="fa-regular fa-comment-dots"></i></button>
      </form> 
    </div>
    {% if replies %}
    <h4>Replies:</h4>
    {% for reply in replies %}
    <div class="replyblock">
        <div class="postblock-header">
        <h5>In reply to:
            <a class="user-url" href="/user/{{ reply.reply_post.user.user_id }}"> 
            {{ reply.reply_post.user.screenname }}</a>
        </h5>

        <!-- in reply, reply table reply_post = post from Post table -->
        <!-- then user from post table and then grabbed screenname -->
        <img class="user-pic" src="{{ reply.reply_user.profilepic }}" />
        <a class="user-url" href="/user/{{ reply.reply_user.user_id }}"
          >{{ reply.reply_user.screenname }}</a
        >
        </div>
        <br>
        <div class="postbody">
        {{ reply.body }}
        </div>
        <div class="post-reacts">
        time: {{ reply.timestamp }}
        
        <h5 id="replylikecounter{{ reply.reply_id }}">Likes: {{ calculatelikes(reply.like) }}</h5>
        <!-- Like a reply form -->
        <form class="likeareply"  method="post" data-replyid="{{ reply.reply_id }}" value ="{{ reply.reply_id }}">
            <input type="hidden" id="likereplyid" name="likereplyid" value="{{ reply.reply_id}}">
            <button class="likebtn" type="submit" name="likebutton">
                <i class="fa-regular fa-heart"></i>
            </button>
        </form>
        </div>
        

    </div>
    {% endfor %}
{% endif %}
</div>
</div>

{% endblock %}